* {
    box-sizing: border-box;
}
/* BEGIN HEADER STYLES */
header {
    margin: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
}

a {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*BEGIN QUIZ FORM STYLES*/
form {
    margin: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

form div {
    font-size: 25px;
}

form h1 {
    font-size: 40px;
}

.btn {
    padding: 10px;
    border: none;
    background-color:rgb(0, 0, 133);
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: 3px 3px gray;
    min-width: 10em;
    margin: 5px;
}

.btn:hover, .btn:active {
    box-shadow: 2px 2px gray;
    cursor: pointer;
}

/*QUIZ STYLES*/
#answers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}